<div class="gridViewParent" >
	<div class="gridViewChild round-top round-bottom drop-shadow-glow-layer" ng-repeat="work in works">
	  <div class="cover">
	    <span>{{work.title}}<br>{{work.description}}</span>
	  </div>
	  <div class="media">
	  	<ul>
	  		<li ng-repeat="media in work.media">
	  			<type1 ng-if="media.type=='image'">
	  				<img src="assets/works/{{work.title}}/{{media.path}}" width="300px" height="185px">
	  			</type1>
    			<type2 ng-if="media.type=='video'">

    			</type2>
    		</li>
	    </ul>
	  </div>
	  <div class="text">
	    <div class="text-inner">
	      <p>{{work.metadata.tasks[0]}}<br>{{work.metadata.date}}</p>
	      <p ng-bind-html="work.text"></p>
	    </div>
	  </div>
	</div>
</div> 